body {
  font-family: Arial;
  margin: 0;
  background: #111;
  color: white;
}

header {
  text-align: center;
  padding: 20px;
  background: #ff9900;
  color: black;
}

.produtos {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  flex-wrap: wrap;
}

.card {
  background: #1e1e1e;
  padding: 20px;
  border-radius: 10px;
  width: 250px;
  text-align: center;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

button {
  background: #ff9900;
  border: none;
  padding: 10px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background: #cc7a00;
}

.sobre, .contato {
  padding: 20px;
  text-align: center;
}

footer {
  text-align: center;
  padding: 10px;
  background: #000;
}